<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>487463366683-cg0uf40ece8m9uf11m1u17ba61givf1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487463366683-cg0uf40ece8m9uf11m1u17ba61givf1n</string>
	<key>API_KEY</key>
	<string>AIzaSyDQc8mncRjEibtPqgxIguK9gEXEtHFjXOA</string>
	<key>GCM_SENDER_ID</key>
	<string>487463366683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.pgbdev.TakeIt</string>
	<key>PROJECT_ID</key>
	<string>takeit-73116</string>
	<key>STORAGE_BUCKET</key>
	<string>takeit-73116.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487463366683:ios:e7fa63981fd9d99f</string>
	<key>DATABASE_URL</key>
	<string>https://takeit-73116.firebaseio.com</string>
</dict>
</plist>